<h1 class="text-center" mat-dialog-title>Usuń apteczkę</h1>
<div class="text-center" mat-dialog-content>
    <mat-form-field class="ml-2 mr-2">
        <mat-select [(value)]="defaultOption">
            <mat-option value="">Wybierz...</mat-option>
            <mat-option *ngFor="let firstAidKit of data" value="{{firstAidKit.firstAidKitID}}">{{firstAidKit.name | titlecase}}</mat-option>
        </mat-select>
      </mat-form-field>
</div>
<div class="justify-content-center" mat-dialog-actions>
    <div class="btn-group" role="group">
      <button class="btn btn-danger" mat-button (click)="onNoClick()">Nie</button>
      <button class="btn btn-success" mat-button [mat-dialog-close]="defaultOption">Tak</button>

    </div>
</div>