<div class="container-fluid">
  <div class="row mt-3">
    <div class="col">
      <h1 class="text-center">Moje apteczki</h1>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col text-center">
      <mat-form-field>
        <mat-select [(value)]="defaultOption">
            <mat-option value="">Wybierz...</mat-option>
            <mat-option *ngFor="let firstAidKit of firstAidKits" value="{{firstAidKit.firstAidKitID}}" (click)="onFirstAidKitClick(firstAidKit.firstAidKitID)">{{firstAidKit.name | titlecase}}</mat-option>
            <mat-option value="-1" (click)="onFirstAidKitClick(-1)">Wszystkie apteczki</mat-option>
        </mat-select>
      </mat-form-field>
      <button class="btn btn-outline-info ml-2" title="Nowa Apteczka" mat-raised-button (click)="openDialog()"> <i class="fa fa-plus" aria-hidden="true"></i></button>
    </div>
  </div>
  <div class="row">
    <div class="col">
            
          <app-tableForFAKMedicine *ngIf="isChosen" [medicines]="medicines"></app-tableForFAKMedicine>
  
    </div>
    <div class="col">
      <div class="row">
        <div class="col  d-flex justify-content-end">
          <a class=" btn btn-light text-uppercase font-weight-bold mr-5" [routerLink]="['/myFirstAidKit']" routerLinkActive="router-link-active"  >
            <img src="https://img.icons8.com/material-two-tone/64/000000/plus.png">Dodaj Lek
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col">
          
        </div>
      </div>
    </div>
  </div>
  

</div>

