<div class="container">
  <!-- <div class="row mt-3">
    <div class="col">
      <h1 class="text-center">Moje apteczki</h1>
    </div>
  </div> -->
  <div class=" row mt-3 align-items-center">
  <div class="col d-flex  justify-content-end">
      
    <mat-form-field class="ml-2 mr-2">
      <mat-select [(value)]="defaultOption">
          <mat-option value="" (click)="onFirstAidKitClick(0)">Wybierz...</mat-option>
          <mat-option *ngFor="let firstAidKit of firstAidKits" value="{{firstAidKit.firstAidKitID}}" (click)="onFirstAidKitClick(firstAidKit.firstAidKitID)">{{firstAidKit.name | titlecase}}</mat-option>
          <mat-option value="-1" (click)="onFirstAidKitClick(-1)">Wszystkie apteczki</mat-option>
      </mat-select>
    </mat-form-field>
    
  </div>
  <div class="col d-flex justify-content-start">
      <button class="btn btn-outline-info"  mat-raised-button (click)="addUFAK()"> <i class="fa fa-medkit" aria-hidden="true"></i> Dodaj Apteczkę</button>
      <button class="btn btn-outline-danger ml-2"  mat-raised-button (click)="deleteUFAK()"> <i class="fa fa-lg fa-trash" aria-hidden="true"></i> Usuń Apteczkę</button>
  </div>
</div>
    
  
  <div class="row">
    <div class="col">
          <app-tableForFAKMedicine *ngIf="isChosen" [medicines]="medicines" (addMedicines)="OnAddMedicinesToFAK()"></app-tableForFAKMedicine>
    </div>
  
  </div>
  

</div>

