<form #registerForm="ngForm" (ngSubmit)="register()">
  <h2 class="text-center text-primary">Rejestracja</h2>
  <hr>

  <div class="form-group">
    <input type="text" class="form-control" required name="name" [(ngModel)]="model.name" placeholder="Imię">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" required name="surname"  [(ngModel)]="model.surname" placeholder="Nazwisko">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" required name="email"  [(ngModel)]="model.email" placeholder="E-mail">
  </div>

  <div class="form-group">
    <input type="password" class="form-control" required name="password"  [(ngModel)]="model.password" placeholder="Hasło">
  </div>

  <div class="form-group text-center">
    <button class="btn btn-outline-success" type="submit">Zarejestruj się</button>
    <button class="btn btn-outline-default" type="button" (click)="cancel()">Anuluj</button>
  </div>
  
</form>