<h1 class="text-center" mat-dialog-title>Dodaj nową apteczkę</h1>
<div class="text-center" mat-dialog-content>
  <mat-form-field class="text-center">
    <input matInput [(ngModel)]="data.name" placeholder="Apteczka...">
  </mat-form-field>
</div>
<div class="justify-content-center" mat-dialog-actions>
    <div class="btn-group" role="group">
      <button class="btn btn-danger" mat-button (click)="onNoClick()">Nie</button>
      <button class="btn btn-success" mat-button [mat-dialog-close]="data.name">Tak</button>

    </div>
</div>
