<div class="container text-center mt-4">
              
    <a class="btn btn-secondary btn-lg btn-block" [routerLink]="['/myFirstAidKit']" routerLinkActive="active" >Moje apteczki</a>
    <hr>
    <a class="btn btn-secondary btn-lg btn-block" [routerLink]="['/currentlyUsed']" routerLinkActive="active" >Aktualnie zażywane</a>
    <hr>
    <a class="btn btn-secondary btn-lg btn-block" [routerLink]="['/shortTermMedicines']" routerLinkActive="active"> Krótka data ważności</a>
    <hr>
    <a class="btn btn-secondary btn-lg btn-block">Do zamówienia</a>
    <hr>
    <a class="btn btn-secondary btn-lg btn-block" [routerLink]="['/medicineDatabase']" routerLinkActive="active">Baza lekarstw</a>
    <hr>
    <a class="btn btn-secondary btn-lg btn-block">Mój koszyk</a>
  
  </div>